.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    transition: box-shadow 0.3s;
}

.object-fit-cover {
    object-fit: cover;
}

.card-hover:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}